<ng-container *ngIf="info[active]">
  <div class="rdx-actionbar--item">
    v{{ info[active].server?.redisVersion }}
  </div>

  <div
    class="rdx-actionbar--item action"
    ngbTooltip="Refresh Keys"
    (click)="refresh.emit()"
  >
    <rdx-icon name="refresh-cw" diameter="13" strokeWidth="1.5"></rdx-icon>
  </div>

  <div class="rdx-spacer"></div>

  <div class="rdx-actionbar--item">
    Lat: {{ info[active].elapse }}ms
  </div>

  <div class="rdx-actionbar--item">
    Mem: {{ info[active].memory?.usedMemoryDatasetPerc }}
  </div>
</ng-container>
