<div class="modal-header">
  <h5 class="modal-title">{{ client ? 'Edit' : 'New' }} Connection</h5>

  <button
    rdx-icon-button
    (click)="dismiss()"
  >
    <rdx-icon name="x"></rdx-icon>
  </button>
</div>

<div
  class="modal-body"
  spellcheck="false"
  [formGroup]="form"
>
  <rdx-form-group>
    <label rdx-label>Name</label>
    <input
      rdx-form-control
      rdxAutofocus
      formControlName="name"
      placeholder="Name..."
      required
      (rdxSubmit)="connect()"
    />
  </rdx-form-group>

  <div class="form-row">
    <rdx-form-group class="col-md-9">
      <label rdx-label>Host</label>
      <input
        rdx-form-control
        formControlName="host"
        placeholder="Host Name..."
        required
        (rdxSubmit)="connect()"
      />
    </rdx-form-group>

    <rdx-form-group class="col-md-3">
      <label rdx-label>Port</label>
      <input
        rdx-form-control
        rdxNumber
        formControlName="port"
        placeholder="Host Port..."
        required
        (rdxSubmit)="connect()"
      />
    </rdx-form-group>
  </div>

  <rdx-form-group>
    <label rdx-label>Password</label>

    <rdx-input-group>
      <input
        [type]="passwordVisible ? 'text' : 'password'"
        rdx-form-control
        formControlName="password"
        placeholder="Password..."
        (rdxSubmit)="connect()"
      />

      <div rdxInputGroupAppend>
        <button
          rdx-outline-button
          appearance="secondary"
          (click)="passwordVisible = !passwordVisible"
        >
          <rdx-icon [name]="passwordVisible ? 'eye-off' : 'eye'"></rdx-icon>
        </button>
      </div>
    </rdx-input-group>
  </rdx-form-group>
</div>

<div class="modal-footer">
  <button
    rdx-outline-button
    [appearance]="connectable === undefined ? 'secondary' : connectable === true ? 'success' : 'danger'"
    ngbTooltip="Test"
    placement="top"
    container="body"
    [disabled]="form.invalid"
    (click)="test()"
  >
    <div
      *ngIf="testing"
      class="spinner-border text-light"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>

    <rdx-icon
      *ngIf="!testing"
      [name]="connectable === undefined ? 'wifi' : connectable === true ? 'check' : 'alert-triangle'"
    ></rdx-icon>
  </button>

  <button
    rdx-button
    appearance="primary"
    [disabled]="form.invalid || form.pristine"
    (click)="connect()"
  >
    Save
  </button>
</div>
