.mat-snack-bar-container {
  padding: 0;

  &.info {
    background-color: #17a2b8;
  }

  &.success {
    background-color: #28a745;
  }

  &.error {
    background-color: #dc3545;
  }

  .rdx-alert {
    display: flex;
    color: white;
    padding: 14px 16px;
    border-radius: 4px;
    cursor: pointer;

    mat-icon {
      margin: auto 10px auto 5px;
    }

    .rdx-alert--message {
      flex: 1;
      margin: auto;
    }
  }
}
