@mixin rdx-center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin rdx-ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rdx-center {
  @include rdx-center;
}

.rdx-ellipsis {
  @include rdx-ellipsis;
}

.rdx-spacer {
  flex: 1 1 auto;
}
