:host {
  display: block;
  flex: 1;

  > rdx-drawer {
    height: 100%;

    > rdx-drawer-aside {
      display: flex;
      flex-direction: column;
      max-width: 200px;

      &:hover {
        .toolbar {
          > rdx-icon {
            opacity: 0.5;
          }
        }
      }

      .toolbar {
        display: flex;

        > .title {
          font-size: 9pt;
          margin: auto 5px;
        }

        > rdx-icon {
          margin: 5px 5px 5px 0;
          opacity: 0;
          transition: opacity 0.2s ease-in-out;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }
      }

      .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-height: 0;
        overflow-y: auto;
      }
    }
  }
}
