<rdx-vertical-split flex="0 0 15%">
  <rdx-split-area
    *ngIf="!closed"
    class="aside"
  >
    <div class="toolbar">
      <div class="title">CONNECTIONS</div>

      <div class="rdx-spacer"></div>

      <rdx-icon
        name="plus"
        diameter="16"
        (click)="create.emit()"
      ></rdx-icon>
    </div>

    <div class="content">
      <rdx-clients-sidenav-item
        *ngFor="let client of clients"
        [routerLink]="client.id"
        routerLinkActive="active"
        [client]="client"
        (remove)="remove.emit($event)"
        (connect)="connect.emit($event)"
        (disconnect)="disconnect.emit($event)"
        (edit)="edit.emit($event)"
      ></rdx-clients-sidenav-item>
    </div>
  </rdx-split-area>

  <rdx-split-area>
    <ng-content></ng-content>
  </rdx-split-area>
</rdx-vertical-split>
