<mat-drawer-container autosize>
  <mat-drawer mode="side" opened>
    <div class="toolbar">
      <div class="title">CONNECTIONS</div>

      <div class="spacer"></div>

      <mat-icon
        svgIcon="plus"
        (click)="create.emit()"
      ></mat-icon>
    </div>

    <div class="content">
      <rdx-clients-sidenav-item
        *ngFor="let client of clients"
        [client]="client"
      ></rdx-clients-sidenav-item>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
