@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

@import '../../../styles/utils';

:host {
  display: flex;
  padding: 5px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;

  @include rdx-ellipsis;

  &:hover {
    .name {
      text-decoration: underline;
    }
  }

  &.active {
    background-color: darken($primary, 10%);
  }

  > .status {
    min-width: 5px;
    width: 5px;
    height: 5px;
    margin: 0 5px auto 0;
    border: 1px solid transparent;
    border-radius: 100%;

    &.open {
      background-color: #4BCA81;
    }

    &.reconnecting {
      background-color: #FFCC00;
    }

    &.closed {
      border-color: grey;
    }
  }

  > .content {
    @include rdx-ellipsis;

    > .name {
      @include rdx-ellipsis;
    }

    > .url {
      font-size: 9pt;
      opacity: 0.7;

      @include rdx-ellipsis;
    }
  }
}
