<rdx-drawer>
  <rdx-drawer-aside>
    <div class="toolbar">
      <div class="title">CONNECTIONS</div>

      <div class="spacer"></div>

      <mat-icon
        svgIcon="plus"
        (click)="create.emit()"
      ></mat-icon>

      <mat-icon
        *ngIf="active"
        svgIcon="trash"
        (click)="remove.emit(active)"
      ></mat-icon>
    </div>

    <div class="content">
      <rdx-clients-sidenav-item
        *ngFor="let client of clients"
        [active]="active"
        [client]="client"
        (click)="activate.emit(client.id)"
      ></rdx-clients-sidenav-item>
    </div>
  </rdx-drawer-aside>

  <rdx-drawer-content>
    <ng-content></ng-content>
  </rdx-drawer-content>
</rdx-drawer>
