<div
  class="status"
  [ngClass]="client.status"
></div>

<div class="content">
  <div *ngIf="client.name" class="name">{{ client.name }}</div>
  <div class="url">redis://{{ client.host }}:{{ client.port }}</div>
</div>

<div class="actions">
  <rdx-icon
    name="trash"
    diameter="16"
    ngbTooltip="Delete"
    container="body"
    (click)="remove.emit(client.id)"
  ></rdx-icon>

  <rdx-icon
    [name]="client.status === 'open' ? 'wifi-off' : 'wifi'"
    diameter="16"
    [ngbTooltip]="client.status === 'open' ? 'Disconnect' : 'Connect'"
    container="body"
    (click)="onConnect()"
  ></rdx-icon>

  <rdx-icon
    name="edit"
    diameter="16"
    ngbTooltip="Edit"
    container="body"
    (click)="edit.emit(client)"
  ></rdx-icon>
</div>
