@import '~bootstrap/scss/bootstrap';
@import '../styles/colors';

:root {
  --text-color: $light;
}

.rdx-drawer-aside {
  background-color: darken($dark, 5%);
}

.modal-content {
  background-color: $dark;

  .modal-header {
    border-bottom-color: $rdx-hairline;
  }

  .modal-footer {
    border-top-color: $rdx-hairline;
  }
}
