$body-bg: var(--dark);
$body-color: var(--light);
$theme-colors: (
  'primary': #9575cd
);

@import '~bootstrap/scss/bootstrap';
@import '../styles/colors';

.rdx-drawer-aside {
  background-color: darken($dark, 5%);
}

.modal-content {
  background-color: $dark;

  .modal-header {
    border-bottom-color: $rdx-hairline;

    .modal-title {
      margin: auto 0;
    }
  }

  .modal-footer {
    border-top-color: $rdx-hairline;
  }
}
