<div class="modal-header">
  <h5 class="modal-title">New Connection</h5>

  <button
    rdx-icon-button
    (click)="dismiss()"
  >
    <rdx-icon name="x"></rdx-icon>
  </button>
</div>

<div
  class="modal-body"
  spellcheck="false"
  [formGroup]="form"
>
  <rdx-form-group>
    <label rdx-label>Name</label>
    <input
      rdx-form-control
      rdxAutofocus
      formControlName="name"
      placeholder="Name..."
      required
      (rdxSubmit)="connect()"
    />
  </rdx-form-group>

  <rdx-form-group>
    <label rdx-label>Host</label>
    <input
      rdx-form-control
      formControlName="host"
      placeholder="Host Name..."
      required
      (rdxSubmit)="connect()"
    />
  </rdx-form-group>

  <rdx-form-group>
    <label rdx-label>Port</label>
    <input
      rdx-form-control
      type="number"
      formControlName="port"
      placeholder="Host Port..."
      required
      (rdxSubmit)="connect()"
    />
  </rdx-form-group>

  <rdx-form-group>
    <label rdx-label>Password</label>
    <input
      rdx-form-control
      formControlName="password"
      placeholder="Password..."
      (rdxSubmit)="connect()"
    />
  </rdx-form-group>
</div>

<div class="modal-footer">
  <button
    rdx-button
    appearance="primary"
    [disabled]="form.invalid"
    (click)="connect()"
  >
    Connect
  </button>
</div>
