<rdx-search-input
  *ngIf="searchService.visible$ | async"
  [text]="searchService.text$ | async"
  (search)="searchService.setText($event)"
></rdx-search-input>

<div class="rdx-client--json-tree-container">
  <rdx-json-tree
    *ngIf="keysService.state$ | async; let keys"
    [json]="keys[(id$ | async)]"
    [filter]="searchService.text$ | async"
    (propertyActionClick)="onActionClick($event)"
    (propertyLoadClick)="onKeyLoad($event)"
    (propertyValueClick)="openKeyValueDialog($event)"
  ></rdx-json-tree>
</div>
