<rdx-search-input
  *ngIf="searchService.visible$ | async"
  [text]="searchService.text$ | async"
  (search)="searchService.setText($event)"
></rdx-search-input>

<ng-container *ngIf="client$ | async; let client">
  <div
    *ngIf="client.status === 'open'"
    class="rdx-client--json-tree-container"
  >
    <rdx-json-tree
      *ngIf="keysCount$ | async"
      [json]="keys$ | async"
      [filter]="searchService.text$ | async"
      (propertyActionClick)="onActionClick($event)"
      (propertyLoadClick)="onLoadClick($event)"
      (propertyValueClick)="onValueClick($event)"
    ></rdx-json-tree>

    <rdx-icon
      *ngIf="!(keysCount$ | async)"
      name="hard-drive"
      diameter="100"
    ></rdx-icon>
  </div>

  <rdx-icon
    *ngIf="client.status !== 'open'"
    name="wifi-off"
    diameter="100"
  ></rdx-icon>
</ng-container>
