.rdx-json-editor {
  display: flex;
  flex-direction: column;
  min-height: 1px;
  min-width: 1px;
  overflow: auto;
  border: 1px solid transparent;
  border-radius: 4px;

  &.rdx-json-editor--invalid {
    border-color: red;
  }
}
