@import '../../../styles/colors';

:host {
  display: block;
  width: 100%;
  height: 22px;
  min-height: 22px;
  border-bottom: solid 1px $rdx-hairline;
  -webkit-user-select: none;
  -webkit-app-region: drag;

  &.fullscreen {
    display: none;
  }
}
