:host {
  display: block;
  width: 100%;
  height: 22px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.12);
  -webkit-user-select: none;
  -webkit-app-region: drag;

  &.fullscreen {
    display: none;
  }
}
