<rdx-clients-sidenav
  [active]="clientsService.active$ | async"
  [clients]="clientsService.clients$ | async"
  (create)="create()"
  (activate)="activate($event)"
  (remove)="remove($event)"
>
  <ng-container *ngIf="clientsService.active$ | async; let active">
    <rdx-json-tree
      *ngIf="keysService.state$ | async; let keys"
      [json]="keys[active]"
      (propertyActionClick)="onActionClick($event)"
      (propertyLoadClick)="onKeyLoad($event)"
      (propertyValueClick)="openKeyValueDialog($event)"
    ></rdx-json-tree>
  </ng-container>
</rdx-clients-sidenav>
