<div class="modal-header">
  <rdx-breadcrumbs>
    <rdx-breadcrumb
      *ngFor="let p of data.path; let i = index"
      [active]="i === data.path.length - 1"
      [attr.title]="p"
    >
      {{ p }}
    </rdx-breadcrumb>
  </rdx-breadcrumbs>

  <button
    rdx-icon-button
    (click)="dismiss()"
  >
    <rdx-icon name="x"></rdx-icon>
  </button>
</div>

<div
  class="modal-body"
  spellcheck="false"
  [formGroup]="form"
>
  <rdx-form-group>
    <label rdx-label>Key</label>

    <rdx-input-group>
      <input
        rdx-form-control
        formControlName="key"
        placeholder="Key..."
        required
        (rdxSubmit)="update()"
      />

      <div
        rdxInputGroupAppend
        ngbDropdown
        container="body"
      >
        <button
          ngbDropdownToggle
          rdx-outline-button
          appearance="secondary"
        >
          {{ type | uppercase }}
        </button>

        <div ngbDropdownMenu>
          <button
            *ngFor="let t of types"
            ngbDropdownItem
            (click)="onTypeChange(t)"
          >
            {{ t | uppercase }}
          </button>
        </div>
      </div>
    </rdx-input-group>
  </rdx-form-group>

  <rdx-form-group *ngIf="type !== 'json'">
    <label rdx-label>Value</label>
    <textarea
      rdx-form-control
      rdxAutofocus
      formControlName="value"
      placeholder="Value..."
      rows="5"
      [rdxNumber]="type === 'number'"
      [rdxBoolean]="type === 'boolean'"
      required
      (rdxSubmit)="update()"
    ></textarea>
  </rdx-form-group>

  <ng-container *ngIf="type === 'json'">
    <rdx-json-editor
      formControlName="value"
      rdxJson
    ></rdx-json-editor>

    <rdx-error *ngIf="value.errors?.json" class="form-text text-danger">
      {{ value.errors.json }}
    </rdx-error>
  </ng-container>
</div>

<div class="modal-footer">
  <button
    *ngIf="type === 'json'"
    rdx-button
    (click)="format()"
  >
    {{ jsonEditor?.pretty ? 'Uglify' : 'Beautify' }}
  </button>

  <button
    rdx-button
    appearance="primary"
    [disabled]="form.invalid || form.pristine"
    (click)="update()"
  >
    Update
  </button>
</div>
