:host {
  display: block;

  > .modal-body {
    display: flex;
    flex-direction: column;
    min-height: 1px;
    overflow-y: auto;

    > .nav-pills {
      justify-content: center;
    }

    > rdx-json-editor {
      max-height: 200px;
    }
  }
}
