:host {
  display: block;

  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10pt;

    .item {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
