<div class="rdx-json-tree--content">
  <div class="rdx-json-tree--nodes">
    <div
      *ngFor="let node of nodes"
      class="rdx-json-tree--node"
      [ngClass]="'rdx-json-tree--node-type-' + node.type"
      [class.expandable]="node.expandable"
      [class.expanded]="state[node.key]?.expanded"
    >
      <div
        class="rdx-json-tree--node-key-container"
        (click)="toggle($event, node)"
      >
        <ng-template #actions>
          <p>test</p>
        </ng-template>

        <rdx-icon
          [ngbPopover]="actions"
          #p="ngbPopover"
          triggers="manual"
          placement="auto"
          container="body"
          class="rdx-json-tree--node-actions"
          name="more-vertical"
          diameter="12"
          (click)="onActionClick($event, p)"
        ></rdx-icon>

        <div
          *ngIf="node.expandable"
          class="rdx-json-tree--node-toggler"
        ></div>

        <div class="rdx-json-tree--node-key">
          {{ node.key }}
        </div>

        <div class="rdx-json-tree--node-separator">
          :
        </div>
      </div>

      <div
        *ngIf="!state[node.key]?.expanded || !node.expandable"
        class="rdx-json-tree--node-value rdx-ellipsis"
        [title]="node.description"
        (click)="onPropertyValueClick(node)"
      >
        {{ node.value === undefined ? '{ ... }' : node.description }}
      </div>

      <div
        *ngIf="state[node.key]?.expanded && node.expandable"
        class="rdx-json-tree--node-children"
      >
        <rdx-json-tree
          child
          [path]="path.concat(node.key)"
          [json]="node.value"
          [state]="state[node.key].state"
          [expanded]="expanded"
          (propertyValueClick)="propertyValueClick.emit($event)"
        ></rdx-json-tree>
      </div>
    </div>
  </div>
</div>
