<div class="rdx-json-tree--content">
  <div class="rdx-json-tree--nodes">
    <ng-container *ngFor="let node of nodes">
      <rdx-json-tree-node
        *ngIf="!filter || (filter && (node.expandable || node.key.includes(filter) || node.description.includes(filter)))"
        [path]="path"
        [filter]="filter"
        [state]="state"
        [child]="child"
        [expanded]="expanded"
        [node]="node"
        (propertyLoadClick)="propertyLoadClick.emit($event)"
        (propertyValueClick)="propertyValueClick.emit($event)"
        (propertyActionClick)="propertyActionClick.emit($event)"
      ></rdx-json-tree-node>
    </ng-container>
  </div>
</div>
