@import './json-tree';

.rdx-json-tree {
  display: flex;
  flex-direction: column;
  position: relative;
  white-space: nowrap;
  font-size: 10pt;

  &.rdx-json-tree--root {
    > .rdx-json-tree--content {
      padding-left: $indent * 2;
    }
  }

  .rdx-json-tree--content {
    flex: 1;
    padding-left: $indent;
    position: relative;

    .rdx-json-tree--nodes {
      max-width: 100%;
      width: fit-content;
    }
  }
}
